section#andy-wowhol
	div
		h1 Andy Wowhol Website
		.images
			.image.image-full
				img.lazy(
					src="img/placeholder.png",
					data-src="img/andy-wowhol-1.jpg",
					data-srcset="img/andy-wowhol-1.jpg 1x, img/andy-wowhol-1-2x.jpg 2x",
					width="1280",
					height="590",
					alt="Andy WoWhol form"
				)
			.image.image-full
				img.lazy(
					src="img/placeholder.png",
					data-src="img/andy-wowhol-2.jpg",
					data-srcset="img/andy-wowhol-2.jpg 1x, img/andy-wowhol-2-2x.jpg 2x",
					width="1280",
					height="796",
					alt="Andy WoWhol display"
				)
		noscript
			.images
				.image.image-full
					img(
						src="img/andy-wowhol-1.jpg",
						srcset="img/andy-wowhol-1.jpg 1x, img/andy-wowhol-1-2x.jpg 2x",
						width="1280",
						height="590",
						alt="Andy WoWhol form"
					)
				.image.image-full
					img.lazy(
						src="img/andy-wowhol-2.jpg",
						srcset="img/andy-wowhol-2.jpg 1x, img/andy-wowhol-2-2x.jpg 2x",
						width="1280",
						height="796",
						alt="Andy WoWhol display"
					)
		.description
			.summary
				ul
					li #[strong Role] Engineering, Design
					li #[strong Client] Myself
					li #[strong Date] Spring 2016
			.body-copy
				p.
					Andy Wowhol is a silly website that I made to get more familiar with Blizzard’s
					#[a(href="https://dev.battle.net/") Game Data APIs], which provide game data for building World of Warcraft and
					Diablo III community sites. This was one of my first projects to use Node and Express.
				p.
					The site is about as simple as it gets: you input your WoW character’s name and realm, it fetches the
					character’s avatar image from the API, and then displays it in four different color variations using CSS
					filters.
				.button-container
					a.button(href="https://github.com/stevecochrane/andy-wowhol", target="_blank") View on GitHub
