section.Project#diablo-20th-anniversary
	.Project-wrap
		h1.Project-title Diablo 20th Anniversary Website
		.Project-images
			.Project-imageWrap
				img.Project-image.lazy(
					src="img/placeholder.png",
					data-src="img/diablo-20th-anniversary-1.jpg",
					data-srcset="img/diablo-20th-anniversary-1.jpg 1x, img/diablo-20th-anniversary-1-2x.jpg 2x",
					width="1280",
					height="575",
					alt="Diablo 20th Anniversary Page: Masthead"
				)
			.Project-imageWrap
				img.Project-image.lazy(
					src="img/placeholder.png",
					data-src="img/diablo-20th-anniversary-2.jpg",
					data-srcset="img/diablo-20th-anniversary-2.jpg 1x, img/diablo-20th-anniversary-2-2x.jpg 2x",
					width="1280",
					height="758",
					alt="Diablo 20th Anniversary Page: Diablo"
				)
		noscript
			.Project-images
				.Project-imageWrap
					img.Project-image(
						src="img/diablo-20th-anniversary-1.jpg",
						srcset="img/diablo-20th-anniversary-1.jpg 1x, img/diablo-20th-anniversary-1-2x.jpg 2x",
						width="1280",
						height="575",
						alt="Diablo 20th Anniversary Page: Masthead"
					)
				.Project-imageWrap
					img.Project-image(
						src="img/diablo-20th-anniversary-2.jpg",
						srcset="img/diablo-20th-anniversary-2.jpg 1x, img/diablo-20th-anniversary-2-2x.jpg 2x",
						width="1280",
						height="758",
						alt="Diablo 20th Anniversary Page: Diablo"
					)
		.Project-description
			.Project-summary
				ul.Project-summaryItems
					li.Project-summaryItem #[strong.Project-summaryItemTitle Role] Engineering
					li.Project-summaryItem #[strong.Project-summaryItemTitle Client] Blizzard Entertainment
					li.Project-summaryItem #[strong.Project-summaryItemTitle Date] Winter 2017
			.Project-body
				p.
					The Diablo franchise turned 20 years old on December 31, 2016, so we launched a retrospective site with lots of
					great imagery from over the years. I’m a huge fan of the franchise so I’m proud to honor its history.
				p.
					There aren’t any new processes or technologies on display here, but because of this, we were able to use a
					process and technology that we were very comfortable with to turn out a high-quality page quickly and on
					schedule, with a very lean team.
				.Buttons
					a.Buttons-button(href="https://us.diablo3.com/en/game/anniversary/", target="_blank") View Site
