section.Project#pixel-art-scrapbook
	.Project-wrap
		h1.Project-title Pixel Art Scrapbook Web Application
		.Project-images
			.Project-imageWrap
				img.Project-image.lazy(
					src="img/v7/placeholder.png",
					data-src="img/v7/pixel-art-scrapbook-1.jpg",
					data-srcset="img/v7/pixel-art-scrapbook-1.jpg 1x, img/v7/pixel-art-scrapbook-1-2x.jpg 2x",
					width="1280",
					height="666",
					alt="Pixel Art Scrapbook"
				)
		noscript
			.Project-images
				.Project-imageWrap
					img.Project-image(
						src="img/v7/pixel-art-scrapbook-1.jpg",
						srcset="img/v7/pixel-art-scrapbook-1.jpg 1x, img/v7/pixel-art-scrapbook-1-2x.jpg 2x",
						width="1280",
						height="666",
						alt="Pixel Art Scrapbook"
					)
		.Project-description
			.Project-summary
				ul.Project-summaryItems
					li.Project-summaryItem #[strong.Project-summaryItemTitle Role] Engineering, Design
					li.Project-summaryItem #[strong.Project-summaryItemTitle Client] Myself
					li.Project-summaryItem #[strong.Project-summaryItemTitle Date] Fall 2013
			.Project-body
				p.
					When I was looking to apply for my current position at Blizzard, their job listing mentioned experience with
					JavaScript MVC frameworks such as Angular, Ember, etc. as a nice-to-have, and I hadn’t used any of those
					before, so before applying I decided to improve my chances and quickly made this.
				p.
					Pixel Art Scrapbook is a prototype of a web application for cataloguing pixel art that inspires you, for
					reference when you make your own. It uses Ember for MVC, Node &amp; Express for a simple RESTful API and
					MongoDB for the database. The demo here is just of the interface and the back-end functionality has been
					disabled. You can make changes but nothing is stored. The full version is
					#[a(href="https://github.com/stevecochrane/pixel-art-scrapbook") available on GitHub] but you’ll need to run a
					local Node server to use it.
				.Buttons
					a.Buttons-button(href="pixel-art-scrapbook/", target="_blank") View Limited Demo
