section.Project#vidcaster-video-player
	.Project-wrap
		h1.Project-title Vidcaster Video Player
		.Project-images
			.Project-imageWrap.Project-imageWrap--third
				img.Project-image.lazy(
					src="img/v7/placeholder.png",
					data-src="img/v7/vidcaster-video-player-1.jpg",
					width="410",
					height="231",
					alt="Vidcaster Default player theme with Resolutions menu open"
				)
			.Project-imageWrap.Project-imageWrap--third
				img.Project-image.lazy(
					src="img/v7/placeholder.png",
					data-src="img/v7/vidcaster-video-player-2.jpg",
					width="410",
					height="231",
					alt="Vidcaster One Button player theme"
				)
			.Project-imageWrap.Project-imageWrap--third
				img.Project-image.lazy(
					src="img/v7/placeholder.png",
					data-src="img/v7/vidcaster-video-player-3.jpg",
					width="410",
					height="231",
					alt="Sharing functionality in the Vidcaster video player"
				)
			.Project-imageWrap
				img.Project-image.lazy(
					src="img/v7/placeholder.png",
					data-src="img/v7/vidcaster-video-player-4.jpg",
					width="1280",
					height="492",
					alt="Interactive transcript and captioning functionality"
				)
		noscript
			.Project-images
				.Project-imageWrap.Project-imageWrap--third
					img.Project-image(
						src="img/v7/vidcaster-video-player-1.jpg",
						width="410",
						height="231",
						alt="Vidcaster Default player theme with Resolutions menu open"
					)
				.Project-imageWrap.Project-imageWrap--third
					img.Project-image(
						src="img/v7/vidcaster-video-player-2.jpg",
						width="410",
						height="231",
						alt="Vidcaster One Button player theme"
					)
				.Project-imageWrap.Project-imageWrap--third
					img.Project-image(
						src="img/v7/vidcaster-video-player-3.jpg",
						width="410",
						height="231",
						alt="Sharing functionality in the Vidcaster video player"
					)
				.Project-imageWrap
					img.Project-image(
						src="img/v7/vidcaster-video-player-4.jpg",
						width="1280",
						height="492",
						alt="Interactive transcript and captioning functionality"
					)
		.Project-description
			.Project-summary
				ul.Project-summaryItems
					li.Project-summaryItem #[strong.Project-summaryItemTitle Role] Design, Engineering
					li.Project-summaryItem #[strong.Project-summaryItemTitle Client] Vidcaster
					li.Project-summaryItem #[strong.Project-summaryItemTitle Date] Winter 2010 &ndash; Fall 2013
			.Project-body
				p.
					Being a video service provider, Vidcaster needed a world-class video player. To that end we worked with the
					Brightcove team, started with their excellent open source
					#[a(href="http://videojs.com", target="_blank") VideoJS] video player as a base, and then extended it with the
					following new features:
				ul.List
					li.List-item Analytics integrations with Google Analytics and Mixpanel
					li.List-item Interactivity integrations with HapYak
					li.List-item Advertising integrations with LiveRail and Brainient
					li.List-item Social media sharing from within the player
					li.List-item Interactive transcripts
				p.
					I also designed and built two custom themes, “Vidcaster Default” and “One Button,” and I made multiple
					contributions to the VideoJS core.
