section#vidcaster-theme-editor
	div
		h1 Vidcaster Theme Editor
		.images
			.image.image-full
				img.lazy(
					src="img/placeholder.png",
					data-src="img/vidcaster-theme-editor-1.jpg",
					data-srcset="img/vidcaster-theme-editor-1.jpg 1x, img/vidcaster-theme-editor-1-2x.jpg 2x",
					width="1280",
					height="352",
					alt="Vidcaster Theme Editor: Themes View"
				)
			.image.image-full
				img.lazy(
					src="img/placeholder.png",
					data-src="img/vidcaster-theme-editor-2.jpg",
					data-srcset="img/vidcaster-theme-editor-2.jpg 1x, img/vidcaster-theme-editor-2-2x.jpg 2x",
					width="1280",
					height="352",
					alt="Vidcaster Theme Editor: Basic Editor View"
				)
			.image.image-full
				img.lazy(
					src="img/placeholder.png",
					data-src="img/vidcaster-theme-editor-3.jpg",
					data-srcset="img/vidcaster-theme-editor-3.jpg 1x, img/vidcaster-theme-editor-3-2x.jpg 2x",
					width="1280",
					height="382",
					alt="Vidcaster Theme Editor: Advanced Editor View"
				)
		noscript
			.images
				.image.image-full
					img(
						src="img/vidcaster-theme-editor-1.jpg",
						srcset="img/vidcaster-theme-editor-1.jpg 1x, img/vidcaster-theme-editor-1-2x.jpg 2x",
						width="1280",
						height="352",
						alt="Vidcaster Theme Editor: Themes View"
					)
				.image.image-full
					img(
						src="img/vidcaster-theme-editor-2.jpg",
						srcset="img/vidcaster-theme-editor-2.jpg 1x, img/vidcaster-theme-editor-2-2x.jpg 2x",
						width="1280",
						height="352",
						alt="Vidcaster Theme Editor: Basic Editor View"
					)
				.image.image-full
					img(
						src="img/vidcaster-theme-editor-3.jpg",
						srcset="img/vidcaster-theme-editor-3.jpg 1x, img/vidcaster-theme-editor-3-2x.jpg 2x",
						width="1280",
						height="382",
						alt="Vidcaster Theme Editor: Advanced Editor View"
					)
		.description
			.summary
				ul
					li #[strong Role] Design, Engineering
					li #[strong Client] Vidcaster
					li #[strong Date] Spring 2013
			.body-copy
				p.
					Vidcaster was a platform for building custom video websites, sort of like YouTube channels but much more
					personalized, with full control over site layout and with business-oriented features like pay-per-view. Some of
					our more famous clients included Airbnb and VMware.
				p.
					Probably the coolest part of our platform was the Theme Editor, which was where you could choose from one of
					Vidcaster’s themes, customize colors and images, and make changes to any of the templates. All of these
					changes were immediately reflected in a full-size preview of the&nbsp;site.
