section.Project#vidcaster-themes
	h1.Project-title Vidcaster Webite Themes
	.Project-images
		.Project-imageWrap
			img.Project-image.lazy(
				src="img/v7/placeholder.png",
				data-src="img/v7/vidcaster-site-themes-1.jpg",
				data-srcset="img/v7/vidcaster-site-themes-1.jpg 1x, img/v7/vidcaster-site-themes-1-2x.jpg 2x",
				width="1280",
				height="698",
				alt="Launch theme home page"
			)
		.Project-imageWrap
			img.Project-image.lazy(
				src="img/v7/placeholder.png",
				data-src="img/v7/vidcaster-site-themes-2.jpg",
				data-srcset="img/v7/vidcaster-site-themes-2.jpg 1x, img/v7/vidcaster-site-themes-2-2x.jpg 2x",
				width="1280",
				height="570",
				alt="Obsidian theme video page"
			)
		.Project-imageWrap
			img.Project-image.lazy(
				src="img/v7/placeholder.png",
				data-src="img/v7/vidcaster-site-themes-3.jpg",
				width="1280",
				height="751",
				alt="Carbon theme home page"
			)
	noscript
		.Project-images
			.Project-imageWrap
				img.Project-image(
					src="img/v7/vidcaster-site-themes-1.jpg",
					srcset="img/v7/vidcaster-site-themes-1.jpg 1x, img/v7/vidcaster-site-themes-1-2x.jpg 2x",
					width="1280",
					height="698",
					alt="Launch theme home page"
				)
			.Project-imageWrap
				img.Project-image(
					src="img/v7/vidcaster-site-themes-2.jpg",
					srcset="img/v7/vidcaster-site-themes-2.jpg 1x, img/v7/vidcaster-site-themes-2-2x.jpg 2x",
					width="1280",
					height="570",
					alt="Obsidian theme video page"
				)
			.Project-imageWrap
				img.Project-image(
					src="img/v7/vidcaster-site-themes-3.jpg",
					width="1280",
					height="751",
					alt="Carbon theme home page"
				)
	.Project-description
		.Project-summary
			ul.Project-summaryItems
				li.Project-summaryItem #[strong.Project-summaryItemTitle Role] Design, Engineering
				li.Project-summaryItem #[strong.Project-summaryItemTitle Client] Vidcaster
				li.Project-summaryItem #[strong.Project-summaryItemTitle Date] Fall 2011 &ndash; Fall 2013
		.Project-body
			p.
				As a platform for building video sites, Vidcaster needed a large library of quality site themes that served a
				variety of different needs. I designed and built several of these myself while also being a resource for our
				network of theme design contractors.
			p.
				Launch was one of the flashier Vidcaster themes and it was made with the introduction of a new product in mind.
				It greatly emphasizes one video in particular (perfect for an introduction or product launch) and all other
				videos are playable on a single page.
			p.
				Obsidian was another public theme I made for Vidcaster. The idea for this one was to make something with dark
				colors by default, since all of our themes to that point had light color schemes, so I went with a central idea
				of “volcanic rock” and went from there.
			p.
				Carbon was the last theme I made, designed for businesses with large video libraries. We went beyond our usual
				sorted-by-recency list and added ways to browse by show and category. There was also a focus on the content
				itself, with large promotional images and minimal design&nbsp;ornamentation.
