section#wow-legion
	div
		h1 World of Warcraft: Legion Website
		.images
			.image.image-full
				img.lazy(
					src="img/placeholder.png",
					data-src="img/wow-legion-1.jpg",
					data-srcset="img/wow-legion-1.jpg 1x, img/wow-legion-1-2x.jpg 2x",
					width="1280",
					height="877",
					alt="World of Warcraft: Legion Website: Masthead"
				)
		noscript
			.images
				.image.image-full
					img(
						src="img/wow-legion-1.jpg",
						srcset="img/wow-legion-1.jpg 1x, img/wow-legion-1-2x.jpg 2x",
						width="1280",
						height="877",
						alt="World of Warcraft: Legion Website: Masthead"
					)
		.description
			.summary
				ul
					li #[strong Role] Engineering
					li #[strong Client] Blizzard Entertainment
					li #[strong Date] Summer 2015
			.body-copy
				p.
					I’m proud to say that I was given the opportunity to work on the announcement site for World of Warcraft:
					Legion, an expansion for one of the most successful games of all time. This was a very challenging and
					fulfilling project, with lush visuals and lots of video.
				p.
					I worked with four extremely talented designers for the duration of the project, and I was the sole engineer up
					until the last couple weeks when I had some additional help to polish and ship the site. The launch of the site
					was timed with our announcement of Legion at Gamescom 2015 in Cologne, Germany.
				.button-container
					a.button(href="http://battle.net/wow/legion/", target="_blank") View Site
