section#wow-garrisons
	div
		h1 World of Warcraft: Garrisons Website
		.images
			.image.image-full
				img.lazy(
					src="img/placeholder.png",
					data-src="img/wow-garrisons-1.jpg",
					data-srcset="img/wow-garrisons-1.jpg 1x, img/wow-garrisons-1-2x.jpg 2x",
					width="1280",
					height="589",
					alt="World of Warcraft: Garrisons Website: Masthead"
				)
			.image.image-full
				img.lazy(
					src="img/placeholder.png",
					data-src="img/wow-garrisons-2.jpg",
					data-srcset="img/wow-garrisons-2.jpg 1x, img/wow-garrisons-2-2x.jpg 2x",
					width="1280",
					height="559",
					alt="World of Warcraft: Garrisons Website: Buildings"
				)
		noscript
			.images
				.image.image-full
					img(
						src="img/wow-garrisons-1.jpg",
						srcset="img/wow-garrisons-1.jpg 1x, img/wow-garrisons-1-2x.jpg 2x",
						width="1280",
						height="589",
						alt="World of Warcraft: Garrisons Website: Masthead"
					)
				.image.image-full
					img(
						src="img/wow-garrisons-2.jpg",
						srcset="img/wow-garrisons-2.jpg 1x, img/wow-garrisons-2-2x.jpg 2x",
						width="1280",
						height="559",
						alt="World of Warcraft: Garrisons Website: Buildings"
					)
		.description
			.summary
				ul
					li #[strong Role] Engineering
					li #[strong Client] Blizzard Entertainment
					li #[strong Date] Fall 2014
			.body-copy
				p.
					This was one of the first full pages that I worked on for the World of Warcraft website: a feature page for
					Garrisons, a big new feature for the Warlords of Draenor expansion.
				p.
					The page was published in the lead-up to the expansion launch to build interest, with lots of in-game
					screenshots and information on all the new things you can do with your garrison.
				.button-container
					a.button(href="http://battle.net/wow/game/garrisons/", target="_blank") View Site
