section.Project#wow-garrisons
	.Project-wrap
		h1.Project-title World of Warcraft: Garrisons Website
		.Project-images
			.Project-imageWrap
				img.Project-image.lazy(
					src="img/placeholder.png",
					data-src="img/wow-garrisons-1.jpg",
					data-srcset="img/wow-garrisons-1.jpg 1x, img/wow-garrisons-1-2x.jpg 2x",
					width="1280",
					height="589",
					alt="World of Warcraft: Garrisons Website: Masthead"
				)
			.Project-imageWrap
				img.Project-image.lazy(
					src="img/placeholder.png",
					data-src="img/wow-garrisons-2.jpg",
					data-srcset="img/wow-garrisons-2.jpg 1x, img/wow-garrisons-2-2x.jpg 2x",
					width="1280",
					height="559",
					alt="World of Warcraft: Garrisons Website: Buildings"
				)
		noscript
			.Project-images
				.Project-imageWrap
					img.Project-image(
						src="img/wow-garrisons-1.jpg",
						srcset="img/wow-garrisons-1.jpg 1x, img/wow-garrisons-1-2x.jpg 2x",
						width="1280",
						height="589",
						alt="World of Warcraft: Garrisons Website: Masthead"
					)
				.Project-imageWrap
					img.Project-image(
						src="img/wow-garrisons-2.jpg",
						srcset="img/wow-garrisons-2.jpg 1x, img/wow-garrisons-2-2x.jpg 2x",
						width="1280",
						height="559",
						alt="World of Warcraft: Garrisons Website: Buildings"
					)
		.Project-description
			.Project-summary
				ul.Project-summaryItems
					li.Project-summaryItem #[strong.Project-summaryItemTitle Role] Engineering
					li.Project-summaryItem #[strong.Project-summaryItemTitle Client] Blizzard Entertainment
					li.Project-summaryItem #[strong.Project-summaryItemTitle Date] Fall 2014
			.Project-body
				p.
					This was one of the first full pages that I worked on for the World of Warcraft website: a feature page for
					Garrisons, a big new feature for the Warlords of Draenor expansion.
				p.
					The page was published in the lead-up to the expansion launch to build interest, with lots of in-game
					screenshots and information on all the new things you can do with your garrison.
				.Buttons
					a.Buttons-button(href="http://battle.net/wow/game/garrisons/", target="_blank") View Site
