doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Portfolio - Steve Cochrane
		meta(name="description", content="The digital portfolio of Steve Cochrane, a front-end engineer and designer from Austin, Texas.")
		meta(name="author", content="Steve Cochrane")
		meta(property="og:url", content="https://stevecochrane.com/portfolio/")
		meta(property="og:title", content="Portfolio")
		meta(property="og:description", content="The digital portfolio of Steve Cochrane, a front-end engineer and designer from Austin, Texas.")
		meta(property="og:site_name", content="Steve Cochrane")
		meta(property="og:image", content="https://stevecochrane.com/tumblr/images/portrait-512.png")
		meta(name="twitter:card", content="summary")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://cloud.typography.com/6084432/656442/css/fonts.css")
		link(rel="stylesheet", href="css/portfolio.css")
	body
		include ../../templates/partials/google-tag-manager.pug
		header
			div
				h1: a(href="/") Steve Cochrane
				h2 Front-end Engineer &amp; Designer
				ul
					li: a(href="https://www.linkedin.com/in/stevecochrane") LinkedIn
					li: a(href="https://github.com/stevecochrane/") GitHub
					li: a(href="mailto:steve@stevecochrane.com") Email
		#main(role="main")

			section#rise-of-the-necromancer
				div
					h1 Diablo III: Rise of the Necromancer Website
					.images
						.image.image-full
							img(
								src="img/rise-of-the-necromancer-1.jpg",
								srcset="img/rise-of-the-necromancer-1.jpg 1x, img/rise-of-the-necromancer-1-2x.jpg 2x",
								width="1280",
								height="882",
								alt="Rise of the Necromancer: Book Cover"
							)
						.image.image-full
							img(
								src="img/rise-of-the-necromancer-2.jpg",
								srcset="img/rise-of-the-necromancer-2.jpg 1x, img/rise-of-the-necromancer-2-2x.jpg 2x",
								width="1280",
								height="795",
								alt="Rise of the Necromancer: Foreword"
							)
					.description
						.summary
							ul
								li #[strong Role] Development
								li #[strong Client] Blizzard Entertainment
								li #[strong Date] Summer 2017
						.body-copy
							p This is the announcement site for Rise of the Necromancer, an expansion for Diablo III. I'm very proud of this one because it's much more than just a brochure, it's an interactive experience that really ties into the world of the game.
							p It also makes heavy use of CSS3 animation for a page-turning effect, and despite being heavily textured, it is (mostly) optimized for high-resolution screens and it scales to fit screens of any size.
							p: a.button(href="https://us.diablo3.com/en/rise-of-the-necromancer/", target="_blank") Visit the live site

			section#wow-redesign
				div
					h1 World of Warcraft Website Redesign
					.images
						.image.image-full
							img.lazy(
								data-src="img/wow-redesign-1.jpg",
								data-srcset="img/wow-redesign-1.jpg 1x, img/wow-redesign-1-2x.jpg 2x",
								width="1280",
								height="669",
								alt="World of Warcraft Website Redesign: Homepage"
							)
						.image.image-full
							img.lazy(
								data-src="img/wow-redesign-2.jpg",
								data-srcset="img/wow-redesign-2.jpg 1x, img/wow-redesign-2-2x.jpg 2x",
								width="1280",
								height="800",
								alt="World of Warcraft Website Redesign: New Player's Guide"
							)
					noscript
						.images
							.image.image-full
								img(
									src="img/wow-redesign-1.jpg",
									srcset="img/wow-redesign-1.jpg 1x, img/wow-redesign-1-2x.jpg 2x",
									width="1280",
									height="669",
									alt="World of Warcraft Website Redesign: Homepage"
								)
							.image.image-full
								img(
									src="img/wow-redesign-2.jpg",
									srcset="img/wow-redesign-2.jpg 1x, img/wow-redesign-2-2x.jpg 2x",
									width="1280",
									height="800",
									alt="World of Warcraft Website Redesign: New Player's Guide"
								)
					.description
						.summary
							ul
								li #[strong Role] Development
								li #[strong Client] Blizzard Entertainment
								li #[strong Date] Summer 2016
						.body-copy
							p I was one of a handful of front-end engineers who worked on a top-to-bottom redesign of the World of Warcraft website, in preparation for the launch of the Legion expansion.
							p The site follows a lot of modern front-end best practices. It's beautiful at any screen size. It's built with reusable components, designed to function as predictably and independently as possible. We also have a living style guide for an up-to-date inventory of these components.
							p: a.button(href="https://worldofwarcraft.com/", target="_blank") Visit the live site

			section#diablo-20th-anniversary
				div
					h1 Diablo 20th Anniversary Website
					.images
						.image.image-full
							img.lazy(
								data-src="img/diablo-20th-anniversary-1.jpg",
								data-srcset="img/diablo-20th-anniversary-1.jpg 1x, img/diablo-20th-anniversary-1-2x.jpg 2x",
								width="1280",
								height="575",
								alt="Diablo 20th Anniversary Page: Masthead"
							)
						.image.image-full
							img.lazy(
								data-src="img/diablo-20th-anniversary-2.jpg",
								data-srcset="img/diablo-20th-anniversary-2.jpg 1x, img/diablo-20th-anniversary-2-2x.jpg 2x",
								width="1280",
								height="758",
								alt="Diablo 20th Anniversary Page: Diablo"
							)
					noscript
						.images
							.image.image-full
								img(
									src="img/diablo-20th-anniversary-1.jpg",
									srcset="img/diablo-20th-anniversary-1.jpg 1x, img/diablo-20th-anniversary-1-2x.jpg 2x",
									width="1280",
									height="575",
									alt="Diablo 20th Anniversary Page: Masthead"
								)
							.image.image-full
								img(
									src="img/diablo-20th-anniversary-2.jpg",
									srcset="img/diablo-20th-anniversary-2.jpg 1x, img/diablo-20th-anniversary-2-2x.jpg 2x",
									width="1280",
									height="758",
									alt="Diablo 20th Anniversary Page: Diablo"
								)
					.description
						.summary
							ul
								li #[strong Role] Development
								li #[strong Client] Blizzard Entertainment
								li #[strong Date] Winter 2017
						.body-copy
							p The Diablo franchise turned 20 years old on December 31, 2016, so we launched a retrospective site with lots of great imagery from over the years. I'm a huge fan of the franchise so I'm proud to honor its history.
							p There aren't any new processes or technologies on display here, but because of this, we were able to use a process and tech that we were very comfortable with to turn out a high-quality page quickly and on time, with a very lean team.
							p: a.button(href="https://us.diablo3.com/en/game/anniversary/", target="_blank") Visit the live site

			section#wow-legion
				div
					h1 World of Warcraft: Legion Website
					.images
						.image.image-full
							img.lazy(
								data-src="img/wow-legion-1.jpg",
								data-srcset="img/wow-legion-1.jpg 1x, img/wow-legion-1-2x.jpg 2x",
								width="1280",
								height="877",
								alt="World of Warcraft: Legion Website: Masthead"
							)
					noscript
						.images
							.image.image-full
								img(
									src="img/wow-legion-1.jpg",
									srcset="img/wow-legion-1.jpg 1x, img/wow-legion-1-2x.jpg 2x",
									width="1280",
									height="877",
									alt="World of Warcraft: Legion Website: Masthead"
								)
					.description
						.summary
							ul
								li #[strong Role] Development
								li #[strong Client] Blizzard Entertainment
								li #[strong Date] Summer 2015
						.body-copy
							p I'm proud to say that I was given the opportunity to work on the announcement site for World of Warcraft: Legion, an expansion for one of the most successful games of all time. This was a very challenging and fulfilling project, with lush visuals and lots of video.
							p I worked with four extremely talented designers for the duration of the project, and I was the sole engineer up until the last couple weeks when I had some additional help to polish and ship the site. The launch of the site was timed with our announcement of Legion at Gamescom 2015 in Cologne, Germany.
							p: a.button(href="http://battle.net/wow/legion/", target="_blank") Visit the live site

			section#wow-garrisons
				div
					h1 World of Warcraft: Garrisons Website
					.images
						.image.image-full
							img.lazy(
								data-src="img/wow-garrisons-1.jpg",
								data-srcset="img/wow-garrisons-1.jpg 1x, img/wow-garrisons-1-2x.jpg 2x",
								width="1280",
								height="589",
								alt="World of Warcraft: Garrisons Website: Masthead"
							)
						.image.image-full
							img.lazy(
								data-src="img/wow-garrisons-2.jpg",
								data-srcset="img/wow-garrisons-2.jpg 1x, img/wow-garrisons-2-2x.jpg 2x",
								width="1280",
								height="559",
								alt="World of Warcraft: Garrisons Website: Buildings"
							)
					noscript
						.images
							.image.image-full
								img(
									src="img/wow-garrisons-1.jpg",
									srcset="img/wow-garrisons-1.jpg 1x, img/wow-garrisons-1-2x.jpg 2x",
									width="1280",
									height="589",
									alt="World of Warcraft: Garrisons Website: Masthead"
								)
							.image.image-full
								img(
									src="img/wow-garrisons-2.jpg",
									srcset="img/wow-garrisons-2.jpg 1x, img/wow-garrisons-2-2x.jpg 2x",
									width="1280",
									height="559",
									alt="World of Warcraft: Garrisons Website: Buildings"
								)
					.description
						.summary
							ul
								li #[strong Role] Development
								li #[strong Client] Blizzard Entertainment
								li #[strong Date] Fall 2014
						.body-copy
							p This was one of the first full pages that I worked on for the World of Warcraft website: a feature page for Garrisons, a big new feature for the Warlords of Draenor expansion.
							p The page was published in the lead-up to the expansion launch to build interest, with lots of in-game screenshots and information on all the new things you can do with your garrison.
							p: a.button(href="http://battle.net/wow/game/garrisons/", target="_blank") Visit the live site

			section#vidcaster-theme-editor
				div
					h1 Vidcaster Theme Editor
					.images
						.image.image-full: img.lazy(data-src="img/vidcaster-theme-editor-1.jpg", width="1080", height="362", alt="Vidcaster Theme Editor: Themes View")
						.image.image-full: img.lazy(data-src="img/vidcaster-theme-editor-2.jpg", width="1080", height="362", alt="Vidcaster Theme Editor: Basic Editor View")
						.image.image-full: img.lazy(data-src="img/vidcaster-theme-editor-3.jpg", width="1080", height="362", alt="Vidcaster Theme Editor: Advanced Editor View")
					noscript
						.images
							.image.image-full: img(src="img/vidcaster-theme-editor-1.jpg", width="1080", height="362", alt="Vidcaster Theme Editor: Themes View")
							.image.image-full: img(src="img/vidcaster-theme-editor-2.jpg", width="1080", height="362", alt="Vidcaster Theme Editor: Basic Editor View")
							.image.image-full: img(src="img/vidcaster-theme-editor-3.jpg", width="1080", height="362", alt="Vidcaster Theme Editor: Advanced Editor View")
					.description
						.summary
							ul
								li #[strong Role] Design, Development
								li #[strong Client] Vidcaster
								li #[strong Date] Spring 2013
						.body-copy
							p The Vidcaster Theme Editor is where you can choose from one of Vidcaster&apos;s public themes, customize colors and images, and make changes to any of the templates. All changes are immediately reflected in a full-size preview of the site.

			section#vidcaster-website
				div
					h1 Vidcaster Website
					.images
						.image.image-full: img.lazy(data-src="img/vidcaster-website-1.jpg", width="1080", height="660", alt="Vidcaster home page")
					noscript
						.images
							.image.image-full: img(src="img/vidcaster-website-1.jpg", width="1080", height="660", alt="Vidcaster home page")
					.description
						.summary
							ul
								li #[strong Role] Design, Development
								li #[strong Client] Vidcaster
								li #[strong Date] Spring 2012
						.body-copy
							p The message we wanted to convey with this homepage redesign was not so much &ldquo;look how great our product is,&rdquo; but &ldquo;look how great your video site could be.&rdquo; So I chose to highlight some of our most impressive customer sites to build excitement and then demonstrate that visitors can build a similar website in minutes, for free, right now. There was a pretty strong uptick in new signups once this went live.
							p: a.button(href="vidcaster-website/archive/", target="_blank") View the archived site

			section#pixel-art-scrapbook
				div
					h1 Pixel Art Scrapbook Application
					.images
						.image.image-full
							img.lazy(
								data-src="img/pixel-art-scrapbook-1.jpg",
								data-srcset="img/pixel-art-scrapbook-1.jpg 1x, img/pixel-art-scrapbook-1-2x.jpg 2x",
								width="1280",
								height="666",
								alt="Pixel Art Scrapbook"
							)
					noscript
						.images
							.image.image-full
								img(
									src="img/pixel-art-scrapbook-1.jpg",
									srcset="img/pixel-art-scrapbook-1.jpg 1x, img/pixel-art-scrapbook-1-2x.jpg 2x",
									width="1280",
									height="666",
									alt="Pixel Art Scrapbook"
								)
					.description
						.summary
							ul
								li #[strong Role] Development, Design
								li #[strong Client] Myself
								li #[strong Date] Fall 2013
						.body-copy
							p A prototype of a web application for cataloguing pixel art that inspires you, for reference when you make your own. It uses #[a(href="http://emberjs.com") Ember] for MVC, #[a(href="https://nodejs.org") Node] + #[a(href="http://expressjs.com") Express] for a simple RESTful API and #[a(href="https://mongodb.org") MongoDB] for the database. The demo here is just of the interface and the back-end functionality has been disabled. You can make changes but nothing is stored. The full version is #[a(href="https://github.com/stevecochrane/pixel-art-scrapbook") available on GitHub] but you&apos;ll need to run a local Node server to use it.
							p: a.button(href="pixel-art-scrapbook/", target="_blank") View a demo

			section#vidcaster-video-player
				div
					h1 Vidcaster Video Player
					.images
						.image.image-half: img.lazy(data-src="img/vidcaster-video-player-1.jpg", width="528", height="297", alt="Sharing functionality in the Vidcaster video player")
						.image.image-half: img.lazy(data-src="img/vidcaster-video-player-2.jpg", width="528", height="297", alt="Vidcaster Default player theme with Resolutions menu open")
						.image.image-full: img.lazy(data-src="img/vidcaster-video-player-3.jpg", width="1080", height="492", alt="Interactive transcript and captioning functionality")
					noscript
						.images
							.image.image-half: img(src="img/vidcaster-video-player-1.jpg", width="528", height="297", alt="Sharing functionality in the Vidcaster video player")
							.image.image-half: img(src="img/vidcaster-video-player-2.jpg", width="528", height="297", alt="Vidcaster Default player theme with Resolutions menu open")
							.image.image-full: img(src="img/vidcaster-video-player-3.jpg", width="1080", height="492", alt="Interactive transcript and captioning functionality")
					.description
						.summary
							ul
								li #[strong Role] Design, Development
								li #[strong Client] Vidcaster
								li #[strong Date] Winter 2010 &ndash; Fall 2013
						.body-copy
							p Being a video service provider, Vidcaster needs a world-class video player. To that end we worked with the Brightcove team, started with their excellent open source #[a(href="http://videojs.com", target="_blank") VideoJS] video player as a base, and then extended it with the following new features:
							ul
								li Analytics integrations with Google Analytics and Mixpanel
								li Interactivity integrations with HapYak
								li Advertising integrations with LiveRail and Brainient
								li Social media sharing from within the player
								li An interactive transcript
							p I also designed and developed two custom themes, &ldquo;Vidcaster Default&rdquo; and &ldquo;One Button,&rdquo; and I made multiple contributions to the VideoJS core.

			section#launch-theme-for-vidcaster
				div
					h1 Launch Theme for Vidcaster
					.images
						.image.image-full: img.lazy(data-src="img/launch-theme-for-vidcaster-1.jpg", width="1080", height="852", alt="Launch theme home page")
					noscript
						.images
							.image.image-full: img(src="img/launch-theme-for-vidcaster-1.jpg", width="1080", height="852", alt="Launch theme home page")
					.description
						.summary
							ul
								li #[strong Role] Design, Development
								li #[strong Client] Vidcaster
								li #[strong Date] Summer 2011
						.body-copy
							p This is one of the flashier Vidcaster themes and it was made with the introduction of a new site in mind. It greatly emphasizes one video in particular (perfect for an introduction or product launch) and all other videos are playable on a single page.
							p: a.button(href="launch-theme-for-vidcaster/archive/", target="_blank") View a demo

			section#obsidian-theme-for-vidcaster
				div
					h1 Obsidian Theme for Vidcaster
					.images
						.image.image-full: img.lazy(data-src="img/obsidian-theme-for-vidcaster-2.jpg", width="1080", height="558", alt="Obsidian theme video page")
						.image.image-full: img.lazy(data-src="img/obsidian-theme-for-vidcaster-1.jpg", width="1080", height="564", alt="Obsidian theme home page")
					noscript
						.images
							.image.image-full: img(src="img/obsidian-theme-for-vidcaster-2.jpg", width="1080", height="558", alt="Obsidian theme video page")
							.image.image-full: img(src="img/obsidian-theme-for-vidcaster-1.jpg", width="1080", height="564", alt="Obsidian theme home page")
					.description
						.summary
							ul
								li #[strong Role] Design, Development
								li #[strong Client] Vidcaster
								li #[strong Date] Summer 2011
						.body-copy
							p Here&apos;s another public theme I did for Vidcaster. The idea for this one was to make something with dark colors by default, and for whatever reason I thought of the central idea &ldquo;volcanic rock&rdquo; and went from&nbsp;there.
							p: a.button(href="obsidian-theme-for-vidcaster/archive/", target="_blank") View a demo

			section#vidsf-website
				div
					h1 VidSF Website
					.images
						.image.image-full: img.lazy(data-src="img/vidsf-website-1.jpg", width="1080", height="544", alt="VidSF home page")
						.image.image-full: img.lazy(data-src="img/vidsf-website-2.jpg", width="1080", height="684", alt="VidSF video page")
					noscript
						.images
							.image.image-full: img(src="img/vidsf-website-1.jpg", width="1080", height="544", alt="VidSF home page")
							.image.image-full: img(src="img/vidsf-website-2.jpg", width="1080", height="684", alt="VidSF video page")
					.description
						.summary
							ul
								li #[strong Role] Design, Development
								li #[strong Client] VidSF
								li #[strong Date] Winter 2008 &ndash; Fall 2010
						.body-copy
							p VidSF was an attempt to make local news interesting and relevant again. I was the sole designer and front-end engineer, and I co-founded the project with Kieran Farr. We eventually decided to change focus and release the CMS we had built for VidSF as a software-as-a-service product, and that was how Vidcaster began.

			section#the-little-school-website
				div
					h1 The Little School Website
					.images
						.image.image-full: img.lazy(data-src="img/the-little-school-website-1.jpg", width="1080", height="710", alt="The Little School home page")
						.image.image-full: img.lazy(data-src="img/the-little-school-website-2.jpg", width="1080", height="687", alt="The Little School's About Us page")
					noscript
						.images
							.image.image-full: img(src="img/the-little-school-website-1.jpg", width="1080", height="710", alt="The Little School home page")
							.image.image-full: img(src="img/the-little-school-website-2.jpg", width="1080", height="687", alt="The Little School's About Us page")
					.description
						.summary
							ul
								li #[strong Role] Development
								li #[strong Client] The Little School
								li #[strong Date] Fall 2011
						.body-copy
							p The Little School is a local preschool in San Francisco. They had a nice design ready and submitted from a member of their board, and I worked with the Drupal engineers at AF83 to write the front-end code for a custom Drupal theme based on that design.
							p: a.button(href="http://littleschool.org", target="_blank") Visit the live site

			section#videogame
				div
					h1 VIDEOGAME
					.images
						.image.image-full: img.lazy(data-src="img/videogame-1.png", width="1080", height="419", alt="VIDEOGAME title screen and gameplay screenshots")
						.image.image-full: img.lazy(data-src="img/videogame-2.jpg", width="1080", height="410", alt="VIDEOGAME mini-site")
					noscript
						.images
							.image.image-full: img(src="img/videogame-1.png", width="1080", height="419", alt="VIDEOGAME title screen and gameplay screenshots")
							.image.image-full: img(src="img/videogame-2.jpg", width="1080", height="410", alt="VIDEOGAME mini-site")
					.description
						.summary
							ul
								li #[strong Role] Development, Design
								li #[strong Client] Myself
								li #[strong Date] Spring 2011
						.body-copy
							p Videogames have always been a passion of mine, and once I found out about HTML5&apos;s canvas element I finally set out to make one of my own. This being my first game I decided to apply as many constraints as possible in order to ship something, so it&apos;s a Space Invaders clone.
							p While it&apos;s nothing special from a game design or visual perspective, it was made from scratch with JavaScript and it utilizes every HTML5 feature I could throw in there, including canvas (of course), audio, cache manifest support for offline play, local storage support for high score storage, and touch controls for mobile devices. It not only continues to work over two years later, it works better thanks to improvements in JavaScript performance.
							p: a.button(href="/videogame/", target="_blank") Visit the live site

		footer
			div
				p Copyright &copy; 2005&ndash;#{currentYear} Steve Cochrane. All rights reserved.

		script(src="js/portfolio.js")
