doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Portfolio - Steve Cochrane
		meta(name="description", content="The digital portfolio of Steve Cochrane, a web software engineer and designer from Austin, Texas.")
		meta(name="author", content="Steve Cochrane")
		meta(property="og:url", content="https://stevecochrane.com/portfolio/")
		meta(property="og:title", content="Portfolio")
		meta(property="og:description", content="The digital portfolio of Steve Cochrane, a web software engineer and designer from Austin, Texas.")
		meta(property="og:site_name", content="Steve Cochrane")
		meta(property="og:image", content="https://stevecochrane.com/tumblr/images/portrait-512.png")
		meta(name="twitter:card", content="summary")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		include ../../templates/partials/google-tag-manager-head.pug
		link(rel="stylesheet", href="css/portfolio.css")
	body
		include ../../templates/partials/google-tag-manager-body.pug
		header
			div
				h1: a(href="/") Steve Cochrane
				h2 Web Software Engineer &amp; Designer
				ul
					li: a(href="https://www.linkedin.com/in/stevecochrane") LinkedIn
					li: a(href="https://github.com/stevecochrane/") GitHub
					li: a(href="mailto:steve@stevecochrane.com") Email
		#main(role="main")

			section#blizzcon-2018-virtual-ticket
				div
					h1 BlizzCon 2018 Virtual Ticket Website
					.images
						.image.image-full
							img(
								src="img/blizzcon-2018-1.jpg",
								srcset="img/blizzcon-2018-1.jpg 1x, img/blizzcon-2018-1-2x.jpg 2x",
								width="1280",
								height="520",
								alt="BlizzCon 2018 Virtual Ticket: Video Player"
							)
						.image.image-full
							img(
								src="img/blizzcon-2018-2.jpg",
								srcset="img/blizzcon-2018-2.jpg 1x, img/blizzcon-2018-2-2x.jpg 2x",
								width="1280",
								height="705",
								alt="BlizzCon 2018 Virtual Ticket: Video Browser"
							)
					.description
						.summary
							ul
								li #[strong Role] Engineering
								li #[strong Client] Blizzard Entertainment
								li #[strong Date] Fall 2018
						.body-copy
							p.
								BlizzCon Virtual Ticket is a premium online video product that provides access to live and archived video of
								all of the BlizzCon convention, to Blizzard fans around the world.
							p.
								We wanted to make some big technical upgrades to the Virtual Ticket experience in 2018. Everything had been
								rendering server-side, with front-end asynchronous requests receiving large blocks of server-side-rendered
								HTML. This caused server load issues when there were traffic spikes, and it incurred costs as it required us to
								run more servers than necessary. We decided to offload a lot of rendering to the client.
							p.
								I was charged with overseeing our React implementation for a team of five engineers. I started by researching
								to determine if reimplementing large portions of the Virtual Ticket experience with React was feasible with
								our resources, and it was. We then made a library of React components, all of them connected to a Redux state
								container. This workflow not only made for a more responsive interface for the user, but the component-based
								approach also made it easier for several engineers to work in parallel.
							.button-container
								a.button(href="https://blizzcon.com/watch", target="_blank") View Site

			section#rise-of-the-necromancer
				div
					h1 Diablo III: Rise of the Necromancer Website
					.images
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/rise-of-the-necromancer-1.jpg",
								data-srcset="img/rise-of-the-necromancer-1.jpg 1x, img/rise-of-the-necromancer-1-2x.jpg 2x",
								width="1280",
								height="663",
								alt="Rise of the Necromancer: Book Cover"
							)
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/rise-of-the-necromancer-2.jpg",
								data-srcset="img/rise-of-the-necromancer-2.jpg 1x, img/rise-of-the-necromancer-2-2x.jpg 2x",
								width="1280",
								height="795",
								alt="Rise of the Necromancer: Foreword"
							)
					noscript
						.images
							.image.image-full
								img(
									src="img/rise-of-the-necromancer-1.jpg",
									srcset="img/rise-of-the-necromancer-1.jpg 1x, img/rise-of-the-necromancer-1-2x.jpg 2x",
									width="1280",
									height="663",
									alt="Rise of the Necromancer: Book Cover"
								)
							.image.image-full
								img(
									src="img/rise-of-the-necromancer-2.jpg",
									srcset="img/rise-of-the-necromancer-2.jpg 1x, img/rise-of-the-necromancer-2-2x.jpg 2x",
									width="1280",
									height="795",
									alt="Rise of the Necromancer: Foreword"
								)
					.description
						.summary
							ul
								li #[strong Role] Engineering
								li #[strong Client] Blizzard Entertainment
								li #[strong Date] Summer 2017
						.body-copy
							p.
								This is the announcement site for Rise of the Necromancer, an expansion for Diablo III. I’m very proud of this
								one because it’s much more than just a brochure, it’s an interactive experience that really ties into the world
								of the game.
							p.
								It also makes heavy use of CSS3 animation for a page-turning effect, and despite being heavily textured, it is
								(mostly) optimized for high-resolution screens and it scales to fit screens of any size.
							.button-container
								a.button(href="https://us.diablo3.com/en/rise-of-the-necromancer/", target="_blank") View Site

			section#wow-redesign
				div
					h1 World of Warcraft Website Redesign
					.images
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/wow-redesign-1.jpg",
								data-srcset="img/wow-redesign-1.jpg 1x, img/wow-redesign-1-2x.jpg 2x",
								width="1280",
								height="669",
								alt="World of Warcraft Website Redesign: Homepage"
							)
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/wow-redesign-2.jpg",
								data-srcset="img/wow-redesign-2.jpg 1x, img/wow-redesign-2-2x.jpg 2x",
								width="1280",
								height="802",
								alt="World of Warcraft Website Redesign: New Player’s Guide"
							)
					noscript
						.images
							.image.image-full
								img(
									src="img/wow-redesign-1.jpg",
									srcset="img/wow-redesign-1.jpg 1x, img/wow-redesign-1-2x.jpg 2x",
									width="1280",
									height="669",
									alt="World of Warcraft Website Redesign: Homepage"
								)
							.image.image-full
								img(
									src="img/wow-redesign-2.jpg",
									srcset="img/wow-redesign-2.jpg 1x, img/wow-redesign-2-2x.jpg 2x",
									width="1280",
									height="802",
									alt="World of Warcraft Website Redesign: New Player’s Guide"
								)
					.description
						.summary
							ul
								li #[strong Role] Engineering
								li #[strong Client] Blizzard Entertainment
								li #[strong Date] Summer 2016
						.body-copy
							p.
								I was one of a handful of front-end engineers who worked on a top-to-bottom redesign of the World of Warcraft
								website, in preparation for the launch of the Legion expansion. The site follows a lot of modern front-end best
								practices. It’s beautiful at any screen size, and it’s built with reusable components, designed to function as
								predictably and independently as possible.
							p.
								For the previous iteration of the site, there was a lot of repetition in code throughout, and a lot
								of minor variations on things, resulting in a lack of consistency and maintenance issues. We also had style
								guides in the past, but they never lasted long. So when we started, I identified living style guides as a way
								to solve these issues, researched best practices, and made our living style guide, along with establishing
								CSS and Less coding conventions for our team. It was the first living style guide at Blizzard Web &amp; Mobile,
								and now all of our sites have one.
							.button-container
								a.button(href="https://worldofwarcraft.com/", target="_blank") View Site

			section#diablo-20th-anniversary
				div
					h1 Diablo 20th Anniversary Website
					.images
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/diablo-20th-anniversary-1.jpg",
								data-srcset="img/diablo-20th-anniversary-1.jpg 1x, img/diablo-20th-anniversary-1-2x.jpg 2x",
								width="1280",
								height="575",
								alt="Diablo 20th Anniversary Page: Masthead"
							)
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/diablo-20th-anniversary-2.jpg",
								data-srcset="img/diablo-20th-anniversary-2.jpg 1x, img/diablo-20th-anniversary-2-2x.jpg 2x",
								width="1280",
								height="758",
								alt="Diablo 20th Anniversary Page: Diablo"
							)
					noscript
						.images
							.image.image-full
								img(
									src="img/diablo-20th-anniversary-1.jpg",
									srcset="img/diablo-20th-anniversary-1.jpg 1x, img/diablo-20th-anniversary-1-2x.jpg 2x",
									width="1280",
									height="575",
									alt="Diablo 20th Anniversary Page: Masthead"
								)
							.image.image-full
								img(
									src="img/diablo-20th-anniversary-2.jpg",
									srcset="img/diablo-20th-anniversary-2.jpg 1x, img/diablo-20th-anniversary-2-2x.jpg 2x",
									width="1280",
									height="758",
									alt="Diablo 20th Anniversary Page: Diablo"
								)
					.description
						.summary
							ul
								li #[strong Role] Engineering
								li #[strong Client] Blizzard Entertainment
								li #[strong Date] Winter 2017
						.body-copy
							p.
								The Diablo franchise turned 20 years old on December 31, 2016, so we launched a retrospective site with lots of
								great imagery from over the years. I’m a huge fan of the franchise so I’m proud to honor its history.
							p.
								There aren’t any new processes or technologies on display here, but because of this, we were able to use a
								process and technology that we were very comfortable with to turn out a high-quality page quickly and on
								schedule, with a very lean team.
							.button-container
								a.button(href="https://us.diablo3.com/en/game/anniversary/", target="_blank") View Site

			section#html-reference
				div
					h1 HTML Reference API &amp; Web Application
					.images
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/html-reference-1.jpg",
								data-srcset="img/html-reference-1.jpg 1x, img/html-reference-1-2x.jpg 2x",
								width="1280",
								height="686",
								alt="HTML Reference Web Application index view"
							)
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/html-reference-2.jpg",
								data-srcset="img/html-reference-2.jpg 1x, img/html-reference-2-2x.jpg 2x",
								width="1280",
								height="412",
								alt="HTML Reference API list results"
							)
					noscript
						.images
							.image.image-full
								img(
									src="img/html-reference-1.jpg",
									srcset="img/html-reference-1.jpg 1x, img/html-reference-1-2x.jpg 2x",
									width="1280",
									height="686",
									alt="HTML Reference Web Application index view"
								)
							.image.image-full
								img.lazy(
									src="img/html-reference-2.jpg",
									srcset="img/html-reference-2.jpg 1x, img/html-reference-2-2x.jpg 2x",
									width="1280",
									height="412",
									alt="HTML Reference API list results"
								)
					.description
						.summary
							ul
								li #[strong Role] Engineering, Design
								li #[strong Client] Myself
								li #[strong Date] Spring 2016
						.body-copy
							p.
								For personal development, I decided to get out of my front-end engineering comfort zone a little bit and build
								a REST API, for a theoretical HTML reference site. The API runs on Node and Express with a MongoDB database,
								and it has the standard CRUD (Create, Read, Update, Delete) operations available. There’s also a Mocha test
								suite, and API requests are cached for better performance.
							p.
								I then made a simple companion web application for interfacing with the API, also with Node and Express. It has
								a central list for viewing all elements and form pages for adding, editing, and deleting elements, with error
								handling.
							.button-container
								a.button(href="https://github.com/stevecochrane/html-reference-api", target="_blank") View API on GitHub
								a.button(href="https://github.com/stevecochrane/html-reference-webapp", target="_blank") View Application on GitHub

			section#wow-legion
				div
					h1 World of Warcraft: Legion Website
					.images
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/wow-legion-1.jpg",
								data-srcset="img/wow-legion-1.jpg 1x, img/wow-legion-1-2x.jpg 2x",
								width="1280",
								height="877",
								alt="World of Warcraft: Legion Website: Masthead"
							)
					noscript
						.images
							.image.image-full
								img(
									src="img/wow-legion-1.jpg",
									srcset="img/wow-legion-1.jpg 1x, img/wow-legion-1-2x.jpg 2x",
									width="1280",
									height="877",
									alt="World of Warcraft: Legion Website: Masthead"
								)
					.description
						.summary
							ul
								li #[strong Role] Engineering
								li #[strong Client] Blizzard Entertainment
								li #[strong Date] Summer 2015
						.body-copy
							p.
								I’m proud to say that I was given the opportunity to work on the announcement site for World of Warcraft:
								Legion, an expansion for one of the most successful games of all time. This was a very challenging and
								fulfilling project, with lush visuals and lots of video.
							p.
								I worked with four extremely talented designers for the duration of the project, and I was the sole engineer up
								until the last couple weeks when I had some additional help to polish and ship the site. The launch of the site
								was timed with our announcement of Legion at Gamescom 2015 in Cologne, Germany.
							.button-container
								a.button(href="http://battle.net/wow/legion/", target="_blank") View Site

			section#andy-wowhol
				div
					h1 Andy Wowhol Website
					.images
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/andy-wowhol-1.jpg",
								data-srcset="img/andy-wowhol-1.jpg 1x, img/andy-wowhol-1-2x.jpg 2x",
								width="1280",
								height="590",
								alt="Andy WoWhol form"
							)
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/andy-wowhol-2.jpg",
								data-srcset="img/andy-wowhol-2.jpg 1x, img/andy-wowhol-2-2x.jpg 2x",
								width="1280",
								height="796",
								alt="Andy WoWhol display"
							)
					noscript
						.images
							.image.image-full
								img(
									src="img/andy-wowhol-1.jpg",
									srcset="img/andy-wowhol-1.jpg 1x, img/andy-wowhol-1-2x.jpg 2x",
									width="1280",
									height="590",
									alt="Andy WoWhol form"
								)
							.image.image-full
								img.lazy(
									src="img/andy-wowhol-2.jpg",
									srcset="img/andy-wowhol-2.jpg 1x, img/andy-wowhol-2-2x.jpg 2x",
									width="1280",
									height="796",
									alt="Andy WoWhol display"
								)
					.description
						.summary
							ul
								li #[strong Role] Engineering, Design
								li #[strong Client] Myself
								li #[strong Date] Spring 2016
						.body-copy
							p.
								Andy Wowhol is a silly website that I made to get more familiar with Blizzard’s
								#[a(href="https://dev.battle.net/") Game Data APIs], which provide game data for building World of Warcraft and
								Diablo III community sites. This was one of my first projects to use Node and Express.
							p.
								The site is about as simple as it gets: you input your WoW character’s name and realm, it fetches the
								character’s avatar image from the API, and then displays it in four different color variations using CSS
								filters.
							.button-container
								a.button(href="https://github.com/stevecochrane/andy-wowhol", target="_blank") View on GitHub

			section#wow-garrisons
				div
					h1 World of Warcraft: Garrisons Website
					.images
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/wow-garrisons-1.jpg",
								data-srcset="img/wow-garrisons-1.jpg 1x, img/wow-garrisons-1-2x.jpg 2x",
								width="1280",
								height="589",
								alt="World of Warcraft: Garrisons Website: Masthead"
							)
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/wow-garrisons-2.jpg",
								data-srcset="img/wow-garrisons-2.jpg 1x, img/wow-garrisons-2-2x.jpg 2x",
								width="1280",
								height="559",
								alt="World of Warcraft: Garrisons Website: Buildings"
							)
					noscript
						.images
							.image.image-full
								img(
									src="img/wow-garrisons-1.jpg",
									srcset="img/wow-garrisons-1.jpg 1x, img/wow-garrisons-1-2x.jpg 2x",
									width="1280",
									height="589",
									alt="World of Warcraft: Garrisons Website: Masthead"
								)
							.image.image-full
								img(
									src="img/wow-garrisons-2.jpg",
									srcset="img/wow-garrisons-2.jpg 1x, img/wow-garrisons-2-2x.jpg 2x",
									width="1280",
									height="559",
									alt="World of Warcraft: Garrisons Website: Buildings"
								)
					.description
						.summary
							ul
								li #[strong Role] Engineering
								li #[strong Client] Blizzard Entertainment
								li #[strong Date] Fall 2014
						.body-copy
							p.
								This was one of the first full pages that I worked on for the World of Warcraft website: a feature page for
								Garrisons, a big new feature for the Warlords of Draenor expansion.
							p.
								The page was published in the lead-up to the expansion launch to build interest, with lots of in-game
								screenshots and information on all the new things you can do with your garrison.
							.button-container
								a.button(href="http://battle.net/wow/game/garrisons/", target="_blank") View Site

			section#pixel-art-scrapbook
				div
					h1 Pixel Art Scrapbook Web Application
					.images
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/pixel-art-scrapbook-1.jpg",
								data-srcset="img/pixel-art-scrapbook-1.jpg 1x, img/pixel-art-scrapbook-1-2x.jpg 2x",
								width="1280",
								height="666",
								alt="Pixel Art Scrapbook"
							)
					noscript
						.images
							.image.image-full
								img(
									src="img/pixel-art-scrapbook-1.jpg",
									srcset="img/pixel-art-scrapbook-1.jpg 1x, img/pixel-art-scrapbook-1-2x.jpg 2x",
									width="1280",
									height="666",
									alt="Pixel Art Scrapbook"
								)
					.description
						.summary
							ul
								li #[strong Role] Engineering, Design
								li #[strong Client] Myself
								li #[strong Date] Fall 2013
						.body-copy
							p.
								When I was looking to apply for my current position at Blizzard, their job listing mentioned experience with
								JavaScript MVC frameworks such as Angular, Ember, etc. as a nice-to-have, and I hadn’t used any of those
								before, so before applying I decided to improve my chances and quickly made this.
							p.
								Pixel Art Scrapbook is a prototype of a web application for cataloguing pixel art that inspires you, for
								reference when you make your own. It uses Ember for MVC, Node &amp; Express for a simple RESTful API and
								MongoDB for the database. The demo here is just of the interface and the back-end functionality has been
								disabled. You can make changes but nothing is stored. The full version is
								#[a(href="https://github.com/stevecochrane/pixel-art-scrapbook") available on GitHub] but you’ll need to run a
								local Node server to use it.
							.button-container
								a.button(href="pixel-art-scrapbook/", target="_blank") View Limited Demo

			section#vidcaster-theme-editor
				div
					h1 Vidcaster Theme Editor
					.images
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/vidcaster-theme-editor-1.jpg",
								data-srcset="img/vidcaster-theme-editor-1.jpg 1x, img/vidcaster-theme-editor-1-2x.jpg 2x",
								width="1280",
								height="352",
								alt="Vidcaster Theme Editor: Themes View"
							)
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/vidcaster-theme-editor-2.jpg",
								data-srcset="img/vidcaster-theme-editor-2.jpg 1x, img/vidcaster-theme-editor-2-2x.jpg 2x",
								width="1280",
								height="352",
								alt="Vidcaster Theme Editor: Basic Editor View"
							)
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/vidcaster-theme-editor-3.jpg",
								data-srcset="img/vidcaster-theme-editor-3.jpg 1x, img/vidcaster-theme-editor-3-2x.jpg 2x",
								width="1280",
								height="382",
								alt="Vidcaster Theme Editor: Advanced Editor View"
							)
					noscript
						.images
							.image.image-full
								img(
									src="img/vidcaster-theme-editor-1.jpg",
									srcset="img/vidcaster-theme-editor-1.jpg 1x, img/vidcaster-theme-editor-1-2x.jpg 2x",
									width="1280",
									height="352",
									alt="Vidcaster Theme Editor: Themes View"
								)
							.image.image-full
								img(
									src="img/vidcaster-theme-editor-2.jpg",
									srcset="img/vidcaster-theme-editor-2.jpg 1x, img/vidcaster-theme-editor-2-2x.jpg 2x",
									width="1280",
									height="352",
									alt="Vidcaster Theme Editor: Basic Editor View"
								)
							.image.image-full
								img(
									src="img/vidcaster-theme-editor-3.jpg",
									srcset="img/vidcaster-theme-editor-3.jpg 1x, img/vidcaster-theme-editor-3-2x.jpg 2x",
									width="1280",
									height="382",
									alt="Vidcaster Theme Editor: Advanced Editor View"
								)
					.description
						.summary
							ul
								li #[strong Role] Design, Engineering
								li #[strong Client] Vidcaster
								li #[strong Date] Spring 2013
						.body-copy
							p.
								Vidcaster was a platform for building custom video websites, sort of like YouTube channels but much more
								personalized, with full control over site layout and with business-oriented features like pay-per-view. Some of
								our more famous clients included Airbnb and VMware.
							p.
								Probably the coolest part of our platform was the Theme Editor, which was where you could choose from one of
								Vidcaster’s themes, customize colors and images, and make changes to any of the templates. All of these
								changes were immediately reflected in a full-size preview of the&nbsp;site.

			section#vidcaster-website
				div
					h1 Vidcaster Website
					.images
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/vidcaster-website-1.jpg",
								data-srcset="img/vidcaster-website-1.jpg 1x, img/vidcaster-website-1-2x.jpg 2x",
								width="1280",
								height="660",
								alt="Vidcaster home page"
							)
					noscript
						.images
							.image.image-full
								img(
									src="img/vidcaster-website-1.jpg",
									srcset="img/vidcaster-website-1.jpg 1x, img/vidcaster-website-1-2x.jpg 2x",
									width="1280",
									height="660",
									alt="Vidcaster home page"
								)
					.description
						.summary
							ul
								li #[strong Role] Design, Engineering
								li #[strong Client] Vidcaster
								li #[strong Date] Spring 2012
						.body-copy
							p.
								The message we wanted to convey with this homepage redesign was not so much “look how great our product is,”
								but “look how great your video site could be.” So I chose to highlight some of our more impressive customer
								sites to build excitement and then demonstrate that visitors can build a similar website in minutes, for free,
								right away. There was a pretty strong uptick in new signups once this went live.
							.button-container
								a.button(href="vidcaster-website/archive/", target="_blank") View Archived Site

			section#vidcaster-video-player
				div
					h1 Vidcaster Video Player
					.images
						.image.image-third
							img.lazy(
								src="img/placeholder.png",
								data-src="img/vidcaster-video-player-1.jpg",
								width="410",
								height="231",
								alt="Vidcaster Default player theme with Resolutions menu open"
							)
						.image.image-third
							img.lazy(
								src="img/placeholder.png",
								data-src="img/vidcaster-video-player-2.jpg",
								width="410",
								height="231",
								alt="Vidcaster One Button player theme"
							)
						.image.image-third
							img.lazy(
								src="img/placeholder.png",
								data-src="img/vidcaster-video-player-3.jpg",
								width="410",
								height="231",
								alt="Sharing functionality in the Vidcaster video player"
							)
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/vidcaster-video-player-4.jpg",
								width="1280",
								height="492",
								alt="Interactive transcript and captioning functionality"
							)
					noscript
						.images
							.image.image-third
								img(
									src="img/vidcaster-video-player-1.jpg",
									width="410",
									height="231",
									alt="Vidcaster Default player theme with Resolutions menu open"
								)
							.image.image-third
								img(
									src="img/vidcaster-video-player-2.jpg",
									width="410",
									height="231",
									alt="Vidcaster One Button player theme"
								)
							.image.image-third
								img(
									src="img/vidcaster-video-player-3.jpg",
									width="410",
									height="231",
									alt="Sharing functionality in the Vidcaster video player"
								)
							.image.image-full
								img(
									src="img/vidcaster-video-player-4.jpg",
									width="1280",
									height="492",
									alt="Interactive transcript and captioning functionality"
								)
					.description
						.summary
							ul
								li #[strong Role] Design, Engineering
								li #[strong Client] Vidcaster
								li #[strong Date] Winter 2010 &ndash; Fall 2013
						.body-copy
							p.
								Being a video service provider, Vidcaster needed a world-class video player. To that end we worked with the
								Brightcove team, started with their excellent open source
								#[a(href="http://videojs.com", target="_blank") VideoJS] video player as a base, and then extended it with the
								following new features:
							ul
								li Analytics integrations with Google Analytics and Mixpanel
								li Interactivity integrations with HapYak
								li Advertising integrations with LiveRail and Brainient
								li Social media sharing from within the player
								li Interactive transcripts
							p.
								I also designed and built two custom themes, “Vidcaster Default” and “One Button,” and I made multiple
								contributions to the VideoJS core.

			section#launch-theme-for-vidcaster
				div
					h1 Vidcaster Webite Themes
					.images
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/vidcaster-site-themes-1.jpg",
								data-srcset="img/vidcaster-site-themes-1.jpg 1x, img/vidcaster-site-themes-1-2x.jpg 2x",
								width="1280",
								height="698",
								alt="Launch theme home page"
							)
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/vidcaster-site-themes-2.jpg",
								data-srcset="img/vidcaster-site-themes-2.jpg 1x, img/vidcaster-site-themes-2-2x.jpg 2x",
								width="1280",
								height="570",
								alt="Obsidian theme video page"
							)
						.image.image-full
							img.lazy(
								src="img/placeholder.png",
								data-src="img/vidcaster-site-themes-3.jpg",
								width="1280",
								height="751",
								alt="Carbon theme home page"
							)
					noscript
						.images
							.image.image-full
								img(
									src="img/vidcaster-site-themes-1.jpg",
									srcset="img/vidcaster-site-themes-1.jpg 1x, img/vidcaster-site-themes-1-2x.jpg 2x",
									width="1280",
									height="698",
									alt="Launch theme home page"
								)
							.image.image-full
								img(
									src="img/vidcaster-site-themes-2.jpg",
									srcset="img/vidcaster-site-themes-2.jpg 1x, img/vidcaster-site-themes-2-2x.jpg 2x",
									width="1280",
									height="570",
									alt="Obsidian theme video page"
								)
							.image.image-full
								img(
									src="img/vidcaster-site-themes-3.jpg",
									width="1280",
									height="751",
									alt="Carbon theme home page"
								)
					.description
						.summary
							ul
								li #[strong Role] Design, Engineering
								li #[strong Client] Vidcaster
								li #[strong Date] Fall 2011 &ndash; Fall 2013
						.body-copy
							p.
								As a platform for building video sites, Vidcaster needed a large library of quality site themes that served a
								variety of different needs. I designed and built several of these myself while also being a resource for our
								network of theme design contractors.
							p.
								Launch was one of the flashier Vidcaster themes and it was made with the introduction of a new product in mind.
								It greatly emphasizes one video in particular (perfect for an introduction or product launch) and all other
								videos are playable on a single page.
							p.
								Obsidian was another public theme I made for Vidcaster. The idea for this one was to make something with dark
								colors by default, since all of our themes to that point had light color schemes, so I went with a central idea
								of “volcanic rock” and went from there.
							p.
								Carbon was the last theme I made, designed for businesses with large video libraries. We went beyond our usual
								sorted-by-recency list and added ways to browse by show and category. There was also a focus on the content
								itself, with large promotional images and minimal design&nbsp;ornamentation.

		footer
			div
				p Copyright &copy; 2005&ndash;#{currentYear} Steve Cochrane. All rights reserved.
